[defaults]
roles_path = roles
collections_path = collections
inventory = inventory/hosts.yml
host_key_checking = False
vault_password_file = .vault_pass
remote_user = tjmaynes
private_key_file = ~/.ssh/id_ed25519

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True