[defaults]
collections_path = ../collections
inventory = hosts.yml
host_key_checking = True
vault_password_file = .vault_pass
remote_user = CHANGEME_REMOTE_USER
private_key_file = CHANGEME_SSH_KEY_PATH
deprecation_warnings = False
remote_tmp = /tmp/.ansible-${USER}/tmp

[ssh_connection]
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True
